.video-flex{
  
    width: 100%;
    display: flex;
  justify-content: center;
    flex-wrap: wrap;
}


div.video{
padding: 0 10px 0 10px;
  
}

iframe{
    width: 250px;
     height: auto;
     
   }